@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font-text: "Montserrat", sans-serif !important;
    --text-size: 16px;
    --text-size-title: 28px;
    --text-color: black;
    --bg-color: white;
    --orange-color: rgb(253, 92, 0);
    --outline-color: rgb(253, 92, 0);
    --outline-color-opacity: rgba(253, 92, 0, 0.3);
    --border-btn: 2px solid var(--outline-color);
    --border-btn-opacity: 2px solid var(--outline-color-opacity);
}

body {
    font-family: var(--font-text);
}

input,
select,
button {
    outline: none !important;
    font-family: var(--font-text);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.space-between-customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-customer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-bottom {
    border-top: none;
    border-left: none;
    border-right: none;
}

.customer-btn {
    font-size: 15px;
    color: var(--orange-color);
    background-color: var(--bg-color);
    font-weight: 700;
    text-decoration: none;
    padding: 8px 24px;
    border: var(--border-btn-opacity);
    transition: 0.3s;
    cursor: pointer;
}

.clear-css {
    border: 0 !important;
    border-radius: 0 !important;
    animation: none !important;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-52 {
    padding-bottom: 52px;
}

.height-1rem {
    height: 1rem;
}

.col {
    float: left;
    padding: 0 8px;
}

.row {
    margin: 0 -8px;
}

.col-2 {
    width: calc(100% / 2);
}

.col-3 {
    width: calc(100% / 3);
}

.col-4 {
    width: calc(100% / 4);
}

.col-5 {
    width: calc(100% / 5);
}

.col-8 {
    width: calc(100% / 8);
}

.clear {
    clear: both;
}

/*begin header*/
/* =========================================================== */

.container-hearder {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000000;
    background-color: var(--bg-color);
    height: 140px;
    width: 100%;
    box-shadow: 0 2px 12px var(--outline-color);
}

header {
    height: 100%;
}

.section-header-1 {
    height: 60%;
    padding: 4px 0;
    border-bottom: var(--border-btn);
}

.section-header-1 .logo-header {
    height: 78px;
}

.section-header-1 .logo-header img {
    height: 100%;
}

.section-header-1 .contact-header {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 600;
}

.section-header-1 .sub-contact-1 {
    padding-right: 8px;
    display: flex;
    align-items: center;
}

.section-header-1 .sub-contact-1 a {
    border-radius: 16px;
}

.section-header-1 .sub-contact-1 a:hover {
    box-shadow: 0 0 8px var(--orange-color);
    border: var(--border-btn);
}

.section-header-1 .sub-contact-1 span {
    font-size: 30px;
    padding: 0 8px;
    color: var(--outline-color);
}

.section-header-1 .contact-header p {
    display: inline-block;
    font-size: var(--text-size);
}

.section-header-2 {
    height: 40%;
    border-radius: 6px;
    padding: 4px 0;
}

.section-header-2 .logo-header {
    display: none;
    height: 65px;
}

.section-header-2 .logo-header a {
    display: inline-block;
    height: 100%;
}

.section-header-2 .logo-header a img {
    height: 100%;
}

.section-header-2 nav {
    margin: 0 -8px;
}

.section-header-2 > nav > ul > li {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0 8px;
    font-weight: 600;
    color: var(--text-color);
    font-size: var(--text-size);
    cursor: pointer;
    height: 100%;
}

.section-header-2 > nav > ul > li::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: var(--outline-color);
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.section-header-2 > nav > ul > li > a::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 40px;
    transform: translateX(-50%);
    height: 25px;
    width: 90px;
    background-color: rgba(0, 0, 0, 0);
}

/* begin sub header */
.section-header-2 li > ul {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(50%);
    background-color: var(--bg-color);
    width: max-content;
    padding: 10px 24px;
    display: none;
    border-radius: 12px;
    box-shadow: 0 0 6px var(--outline-color);
}

.section-header-2 li:hover > ul {
    display: block;
}

.section-header-2 li > ul > li {
    list-style: none;
    padding: 8px 8px;
    margin: 4px 0px;
}

.section-header-2 li > ul > li:hover {
    border-left: 3px solid var(--outline-color);
}

.section-header-2 li > ul > li > a {
    display: block;
    text-decoration: none;
    color: var(--text-size);
    transition: 0.3s;
}

.section-header-2 li > ul > li:hover a {
    transform: translateX(12px);
}

.section-header-2 li > ul > li > a > i {
    color: var(--text-size);
    font-size: var(--text-size);
    margin-left: 8px;
}
/* end sub header */

.section-header-2 > nav > ul > li:hover::after {
    width: 100%;
}

.section-header-2 > nav > ul > li > a {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 8px;
    font-size: var(--text-size);
    color: var(--text-color);
    line-height: 100%;
}

.section-header-2 > nav > ul > li > a > i {
    color: var(--text-color);
    transition: 0.3s;
    margin-left: 4px;
}

.section-header-2 > nav > ul > li:hover > a > i {
    transform: rotate(180deg);
}

.section-header-2 .search-header {
    display: flex;
    align-items: center;
    justify-content: right;
}

.section-header-2 .search-header i {
    cursor: pointer;
    font-size: 24px;
    margin-right: 8px;
    opacity: 1;
    color: var(--outline-color);
}

/*begin bg-header*/
#bg-header {
    position: relative;
    display: inline-block;
    background-image: url(../img/content/c5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* start search place */
#bg-header #search__place {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    box-shadow: 6px 6px 16px var(--orange-color);
    color: black;
    background-color: white;
    padding: 0 16px;
    border-radius: 16px;
    height: 200px;
    width: 100%;
}

#bg-header #search__place h3 {
    text-align: center;
    padding-top: 16px;
    display: block;
    font-size: var(--text-size-title);
}

#bg-header #search__place form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 16px;
}

#bg-header #search__place label {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

#bg-header #search__place input,
#bg-header #search__place select {
    display: block;
    color: black;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid #ccc;
    width: 150px;
    height: 40px;
    transition: 0.3s;
}

#bg-header #search__place input:focus,
#bg-header #search__place select:focus {
    border-bottom: var(--border-btn);
}

#bg-header .search__place-1 .sub__search__place-1 {
    position: relative;
    padding-left: 24px;
}

#bg-header .search__place-1 i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#bg-header #search__place button {
    border-radius: 12px;
}

#bg-header #search__place button:hover {
    border: var(--border-btn);
    box-shadow: 0 0 8px var(--orange-color);
}
/* end search place */

/*end bg-header*/

/* =========================================================== */
/*end header*/

/* begin content */
/* =========================================================== */

#content {
    margin-top: 120px;
}
/* start section__sale */
#section__sale {
    margin-top: 24px;
}

#section__sale > h3 {
    text-align: center;
    font-size: var(--text-size-title);
    padding-bottom: 16px;
}

#section__sale > a {
    float: right;
    margin-top: 16px;
    border-radius: 6px;
}

#section__sale > a:hover {
    border: var(--border-btn);
    box-shadow: 0 0 8px var(--orange-color);
}

#section__sale .section__sale--item_content {
    box-shadow: 0px 0px 8px #aaa;
    border-radius: 6px;
    overflow: hidden;
}

#section__sale .section__sale--item_content .section__sale--item_img {
    width: 100%;
    height: 255px;
    overflow: hidden;
}

#section__sale .section__sale--item_img img {
    width: 100%;
    height: 255px;
    cursor: pointer;
    transition: 0.5s;
}

#section__sale .section__sale--item_content:hover .section__sale--item_img img {
    transform: scale(1.2);
}

#section__sale .section__sale--item_main {
    padding: 12px;
    height: 280px;
}

#section__sale .section__sale--item_main > p {
    height: 26px;
    font-size: var(--text-size);
}

#section__sale .section__sale--item_main h3 {
    height: 84px;
}

#section__sale .section__sale--item_price {
    padding-bottom: 16px;
}

#section__sale .section__sale--item_price p {
    color: var(--outline-color);
    font-weight: 600;
    font-size: 18px;
}

#section__sale .section__sale--item_price span {
    padding: 4px;
    background-color: var(--outline-color);
    border-radius: 6px;
    font-size: 14px;
    color: white;
}

#section__sale .section__sale--item_order {
    border-radius: 6px;
    height: 39px;
}

#section__sale .section__sale--item_content:hover .section__sale--item_order {
    border: var(--border-btn);
    box-shadow: 0 0 8px var(--orange-color);
    padding: 0;
}

#section__sale .section__sale--item_order a {
    display: none;
    text-align: center;
    color: var(--orange-color);
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
}

#section__sale .section__sale--item_content:hover .section__sale--item_order a {
    display: block;
}

#section__sale .section__sale--item_order p {
    text-align: center;
}

#section__sale .section__sale--item_content:hover .section__sale--item_order p {
    display: none;
}
/* end section__sale */

/* start section__place */
#section__place {
    margin-top: 24px;
    margin-bottom: 80px;
}

#section__place .section__place--left-item {
    height: 100%;
}

#section__place .section__place--left-item .sub_left--img {
    position: relative;
    height: 100%;
    display: block;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 4px 4px 8px #aaa;
    z-index: 10;
    transition: 0.2s;
}

#section__place
    .section__place--left
    .section__place--left-items
    .section__place--left-item:hover
    .sub_left--img {
    transform: scale(1.2);
    z-index: 1000;
}

#section__place .section__place--left-item .sub_left--img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

#section__place .section__place--left-item:hover .sub_left--img::after {
    background-color: black;
    opacity: 0.4;
}

#section__place .section__place--left-item .sub_left--img p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 100;
    display: none;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 0 0 12px white;
    width: 100%;
    padding: 8px 0;
}

#section__place .section__place--left-item:hover .sub_left--img p {
    display: block;
}

#section__place .section__place--left-item img {
    width: 100%;
    display: block;
}

#section__place .section__place--right-items h3 {
    font-size: 24px;
    padding-bottom: 8px;
    color: var(--orange-color);
}

#section__place .section__place--right-items p {
    font-size: var(--text-size);
    padding-bottom: 16px;
    line-height: 1.4;
}

#section__place .section__place--right_imgs {
    padding-bottom: 8px;
}

#section__place .section__place--right_img {
    position: relative;
    cursor: pointer;
}

#section__place .section__place--right_img::after {
    position: absolute;
    content: "";
    width: calc(100% - 16px);
    height: calc(100% - 4px);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    opacity: 0.5;
    transition: 0.3s;
}

#section__place
    .section__place--right_imgs
    .section__place--right_img:hover::after {
    box-shadow: 10px 10px 10px black;
}

#section__place .section__place--right_img .sub_right--img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    z-index: 100;
}

#section__place .section__place--right_img .sub_right--img p {
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
}

#section__place .section__place--right_img img {
    width: 100%;
}

#section__place .section__place--right-items a {
    float: right;
    border-radius: 6px;
}

#section__place .section__place--right-items > a:hover {
    border: var(--border-btn);
    box-shadow: 0 0 8px var(--orange-color);
}
/* end section__place */

/* begin section__blog */
#container-section__blog {
    background-color: black;
    color: white;
}

#section__blog {
    margin-top: 24px;
    padding: 90px 0;
    transition: 0.2s;
}

#section__blog > h3 {
    text-align: center;
    font-size: var(--text-size-title);
    color: var(--orange-color);
    padding-bottom: 90px;
}

#section__blog .section__blog--item .section__blog--item-content {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: center;
    transition: 0.3s;
}

#container-section__blog:hover
    .section__blog--item:nth-child(2)
    .section__blog--item-content,
#container-section__blog:hover
    .section__blog--item:nth-child(4)
    .section__blog--item-content {
    position: relative;
    transform: translateY(20%);
}

#container-section__blog:hover
    .section__blog--item:nth-child(1)
    .section__blog--item-content,
#container-section__blog:hover
    .section__blog--item:nth-child(3)
    .section__blog--item-content {
    position: relative;
    transform: translateY(-20%);
}

#section__blog .section__blog--item-content h4 {
    padding-bottom: 8px;
}

#section__blog .section__blog--item-img {
    overflow: hidden;
    margin-bottom: 8px;
    border-radius: 6px;
}

#section__blog .section__blog--item-img img {
    display: block;
    width: 100%;
    border-radius: 6px;
    transition: 0.5s;
}

#section__blog .section__blog--item:hover .section__blog--item-img img {
    transform: rotate(10deg) scale(1.4);
}

/* end section__blog */

/* start section__reason */
#section__reason {
    margin-top: 24px;
    padding: 90px 0;
}

#section__reason > h3 {
    margin-bottom: 32px;
    text-align: center;
    color: var(--orange-color);
    font-size: var(--text-size-title);
}

#section__reason .section__reason-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border-btn);
    padding: 16px;
    border-radius: 8px;
    animation-name: xoay;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#section__reason .section__reason-item h2 {
    font-size: 32px;
    color: var(--orange-color);
    text-shadow: 0 0 20px var(--orange-color);
}

#section__reason .section__reason-item h4 {
    font-size: 20px;
}

#section__reason .section__reason-item i {
    font-size: 35px;
    padding-right: 16px;
    color: var(--orange-color);
}

@keyframes xoay {
    form {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
        box-shadow: 12px 12px 6px var(--orange-color);
    }
}

/* end section__reason */

/* =========================================================== */
/* end content */

/* begin footer */
#container-footer {
    margin-top: 32px;
    background-color: black;
    color: white;
}

footer {
    padding: 64px 0;
}

footer .footer-item--content {
    border-right: var(--border-btn);
    height: 120px;
}

footer .footer-item--content h4 {
    padding-bottom: 8px;
    color: var(--orange-color);
}

footer .footer-item--content ul li {
    list-style: none;
}

footer .footer-item--content ul a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

footer .footer-item--content ul a i {
    padding-right: 4px;
}
/* end footer */
